.header{
    background-color: #00529b;
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-nav-item{
    padding-right: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 5rem;
}
.Enlace{
    color: white;
    text-decoration: none;
}
.logo-img{
    width: 10rem;

}