@import url(reset.css);
@import url(header.css);
@import url(alimentos.css);
@import url(listar.css);
@import url(footer.css);
body {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  display:flex;
  flex-direction: column;
  min-height: 100vh;
}

