@import url(../style/reset.css);
html {
  height: 100%;
}
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  background: rgb(34, 34, 34);
  transition: background-color 0.5s, color 0.5s;
}
body.tema-claro {
  background-color: rgb(232, 232, 232);
  color: rgb(82, 82, 82);
}

body.tema-oscuro {
  background-color: rgb(34, 34, 34);
  color: rgb(255, 255, 255);
}
.Encabezado {
  width: 100%;
  height: 5rem;
  background-color: rgb(0, 82, 155);
  display: flex;
  align-items: center;
}
.Logo {
  width: 10rem;
  margin: 0;
}
h1 {
  text-align: center;
  margin: 30px 30px;
  letter-spacing: 1px;
  font-size: 2rem;
  font-weight: 600;
}
.Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 65vh;
}
/*CAJA DE INICIO DE SESION*/
.Sesion {
  width: 400px;
  padding: 40px;
  background: rgb(29, 129, 206);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  text-align: center;
  margin-bottom: 20px;
}
.Sesion h2 {
  margin: 0 0 30px;
  padding: 0;
  color: rgb(220, 220, 220);
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}
.Sesion .Box-usuario {
  position: relative;
}
.Sesion .Box-usuario input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: rgb(220, 220, 220);
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.Sesion .Box-usuario label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: rgb(220, 220, 220);
  pointer-events: none;
  transition: 0.5s;
}
.Sesion .Box-usuario input:focus ~ label,
.Sesion .Box-usuario input:valid ~ label {
  top: -20px;
  left: 0;
  color: rgb(34, 34, 34);
  font-size: 12px;
}
/*CONTENEDOR BOTON "INGRESAR"*/
.Boton {
  font-size: 15px;
  color: rgb(220, 220, 220);
  padding: 8px;
  border: 0;
  border-radius: 5px;
  background-color: rgb(0, 82, 155);
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.6);
  cursor: pointer;
  transition: 0.3s all;
}
.Boton:hover {
  background-color: rgb(0, 82, 155);
  font-size: 18px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
}
.Button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
/*ENLACE DE "REGISTRATE"*/
.Registro {
  text-align: center;
}
h4{
  margin: 20px;
  font-weight: 600;
}
.enlace {
  color: rgb(0, 82, 155);
  text-decoration: none;
}
/*CONTENEDOR DE "REGISTRATE"*/
.link-registro {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
  cursor: pointer;
}
.link-registro:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #b1dae7;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}
.link-registro span {
  position: relative;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #234567;
}
.link-registro svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #234567;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}
.link-registro:hover:before {
  width: 100%;
  background: #b1dae7;
}
.link-registro:hover svg {
  transform: translateX(0);
}
.link-registro:active {
  transform: scale(0.95);
}
/*CONTENEDOR DE "CAMBIO DE TEMA"*/
.Contenedor-Tema {
  text-align: right;
  margin: 20px;
}
